	div{
		position: relative;
	}
	#home{
		position: fixed;
		bottom: 5px;
		right: 5px;
	}
	.mbody{
		margin:12px;
		border-radius: 15px;
		width: 900px;
		text-align:center;
	}
	.mbody .dbody{
		line-height: 250px;
	    text-align:center;
	}
	.mbody .mstigmata{
		width: 85px;
	}
	.mbody .divbody{
		display: inline-block;
		position relative;
		width: 255px;
	}
	
	.mbody .mtop{
		position: absolute;
		top:0px;
		right: 0;
	}
	.minfo{
		position: absolute;
		top:0px;
		left: 0;
	}
	.mbody .mbot{
		position: absolute;
		top: 90px;
		left: 0;
	}
	.mbody .mval{
		border-radius: 10px;
	}
	.mbody legend{
		border-radius: 10px;
		color:#fff;
		background-color:#f69c55;
		font-size:1.8em;
		font-weight: 900;
		padding: 0.3em;
	}
	#dhome:hover, #s_memories img:hover, .minfo:hover{
		cursor: pointer;
	}
	#dhome{
		border-radius: 100%;
		position: fixed;
		bottom: 50px;
		right: 50px;
	}
	#dhome img{
		border-radius: 100%;
	}
	#total_body{
		width: 960px;
	}
	.top_button:hover, .type:hover, .all:hover, .ttype:hover{
		background-color: #f69c55;
		cursor: pointer;
	}
	.top_button{
		color:rgb(0,38,97);
		font-weight:bold;
	}
	#stigmata_temp{
		height: 5000px;
	}
	#s_stigmata_use:hover, .fclose:hover{
		cursor: pointer;
	}
	#s_stigmata_use{
		width:116px;
		height: 40px;
		line-height: 40px;
		text-align:center;
		font-size: 22px;
		background-color: rgba( 255, 255, 255, 0.5 );
		border: 2px inset #f69c55;
	}
	.type, .all{
		display:inline;
		float:left;
		width:116px;
		height: 40px;
		line-height: 40px;
		font-size: 22px;
		text-align:center;
		background-color: rgba( 255, 255, 255, 0.5 );
		border: 2px dashed #f69c55;
	}
	.ttype{
		display:inline;
		float:left;
		width:188px;
		height: 40px;
		line-height: 40px;
		font-size: 22px;
		text-align:center;
		background-color: rgba( 255, 255, 255, 0.5 );
		border: 2px dashed #f69c55;
	}
	.skill1:hover, .skill2:hover, .skill3:hover, .skill4:hover, .skill5:hover, .skill6:hover{
		cursor: pointer;
		width: 194px;
		border: 2px solid #f69c55;
	}
	#container{
		width: 960px;
		text-align:center;
	}
	#sub_area{
		width: 960px;
		text-align:center;
	}
	.top_temp{
		height: 373.35px;
	}
	#top_area{
		width: 960px;
		height: 461.35px;
		background-size: 960px 461.35px;
		background-image: url("https://t1.daumcdn.net/cfile/tistory/9964273D5C46943D05")
	}
	.weaponIcon:hover, .valkry_item, .stigmata_img img:hover{
		cursor: pointer;
	}
	.weaponIcon{
		width: 120px;
		height: 105px;
	}
	.top_button{
		display:inline;
		float:left;
		width:188px;
		height: 40px;
		line-height: 40px;
		text-align:center;
		font-size: 22px;
		background-color: rgba( 255, 255, 255, 0.7 );
		border: 2px dashed #f69c55;
	}
	div.a, #s_valkry, .t_body_detail{
		margin: auto;
		text-align: left;
	}
	#c_weapon, #c_notice, #c_caution, #c_memories, #c_pc, #float_body {
		text-align: left;
	}
	.top {
		position: fixed;
		bottom: 20px;
		left: 10px;
	}
	.float_stigmata{
		margin:4px;
	}
	.float_body{
		BACKGROUND-COLOR: #fffff0;
        max-width:650px;
		border:2px solid #fffff0;
		border-radius:0.5em;
		-moz-border-radius: 0.5em;
		-webkit-border-radius: 0.5em;
		padding:4px;
	}
	#descTop, #descMid, #descBot, #setOption{
		padding-left:10px;
	}
	.stigmata_name {
		width: 420px;
		margin:4px;
		text-align:center;
		font-size:18px;
		border:2px solid #1bf;
		padding:9px;
		font-weight: bold;
		//color: #fff;
		line-height: 1em;
		border-radius:0.5em;
		-moz-border-radius: 0.5em;
		-webkit-border-radius: 0.5em;
	}
	.sitgmata_name_value{
		display: inline;
		text-align:center;
	}
	.stigmata_set_container{
		position: absolute;
	}
	.stigmata_set2{
		//position: absolute;
		//left : 20px;
		padding:2px;
		display: inline;
		border:2px solid #da70d6;
		BACKGROUND-COLOR: #da70d6;
		color:#fff;
		margin-top:-4px;
		margin-left:3px;
		margin-right:3px;
		border-radius:0.5em;
		-moz-border-radius: 0.5em;
		-webkit-border-radius: 0.5em;
	}
	.stigmata_none{
		display:none;
	}
	.stigmata_set3{
		//position: absolute;
		//left : 65px;

		padding:2px;
		display: inline;
		border:2px solid #da70d6;
		BACKGROUND-COLOR: #da70d6;
		color:#fff;
		margin-top:-4px;
		margin-left:3px;
		margin-right:3px;
		border-radius:0.5em;
		-moz-border-radius: 0.5em;
		-webkit-border-radius: 0.5em;
	}
	.stigmata_img{
		width: 442px;
		margin:4px;
	}
	.stigmata{
		margin:3px;
		border:2px;
		border-color:black;
		border-style:solid;
		border-radius:0.5em;
	}
	.stigmata_rec{
		margin:3px;
		border:2px;
		border-color:red;
		border-style:solid;
		border-radius:0.5em;
	}
	.temp_stigmata{
		margin:5px;
	}
	.float_body th,.float_body td,.float_body tr {
		padding: 5px;
		text-align: left;    
	}